version: '3'
services:
  reminder-api:
    image: alexv31/reminder:api
    restart: always
    depends_on:
        - reminder-db
    environment:
      - NODE_ENV=production
      - PORT=
      - ALLOWED_ORIGIN=
      - JWT_SECRET=
      - POSTGRES_HOST=
      - POSTGRES_PORT=
      - POSTGRES_USERNAME=
      - POSTGRES_PASSWORD=
      - POSTGRES_DATABASE=
      - FIREBASE_SERVICE_ACCOUNT_BASE64=
    networks:
      - reminder-network
    ports:
      - "4006:80"
      - "4007:443"

  reminder-db:
    image: postgres
    restart: always
    networks:
      - reminder-network
    environment:
      - POSTGRES_DB=reminder
      - POSTGRES_USER=reminder
      - POSTGRES_PASSWORD=reminder
    ports:
      - "5006:5432"
      - "5007:443"

volumes:
  postgres_data:

networks:
  reminder-network:
    driver: bridge
