.big-cell {
	min-width: 16rem;
}

.small-cell {
	min-width:10rem;
}

.text-red-500 {
	color: #f56565;
	font-size: 11px;
}

.error-message {
	display: flex;
	flex-direction: column;
}


.form-create-notification {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
