<h1>coucou 3</h1>
<div class="card">
	<p-toast/>
	<p-toolbar styleClass="mb-6">
		<ng-template #start>
			<p-button label="New" icon="pi pi-plus" class="mr-2" (onClick)="showDialogCreateNotification()"/>
			<p-button severity="danger" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedProducts()"
								[disabled]="!selectedNotification || !selectedNotification.length"/>
		</ng-template>
	</p-toolbar>

	<p-table
		#dt
		[value]="notifications"
		[rows]="10"
		[paginator]="true"
		[globalFilterFields]="['name', 'title', 'description', 'status']"
		[tableStyle]="{ 'min-width': '75rem' }"
		[(selection)]="selectedNotification"
		[rowHover]="true"
		dataKey="id"
		currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
		[showCurrentPageReport]="true"
	>
		<ng-template #caption>
			<div class="flex items-center justify-between">
				<h5 class="m-0">Manage Reminders</h5>
				<p-iconfield>
					<p-inputicon styleClass="pi pi-search"/>
					<input pInputText type="text" (input)="filter($event)" placeholder="Search..."/>
				</p-iconfield>
			</div>
		</ng-template>
		<ng-template #header>
			<tr>
				<th style="width: 3rem">
					<p-tableHeaderCheckbox/>
				</th>

				<th pSortableColumn="name" class="big-cell">
					Name
					<p-sortIcon field="name"/>
				</th>

				<th pSortableColumn="cron" class="small-cell">
					Cron
					<p-sortIcon field="cron"/>
				</th>

				<th pSortableColumn="status" class="small-cell">
					Status
					<p-sortIcon field="status"/>
				</th>

				<th class="small-cell">
					Title
				</th>

				<th class="small-cell">
					Description
				</th>

				<th pSortableColumn="createdAt" class="big-cell">
					Date
					<p-sortIcon field="createdAt"/>
				</th>
				<th class="small-cell">
					Action
				</th>
			</tr>
		</ng-template>
		<ng-template #body let-notification>
			<tr>
				<td style="width: 3rem">
					<p-tableCheckbox [value]="notification"/>
				</td>

				<td class="big-cell">
					{{ notification.name }}
				</td>

				<td class="small-cell">
					{{ notification.cron }}
				</td>

				<td class="small-cell">
					<p-tag [value]="notification.status ? 'Active' : 'Inactive'"
								 [severity]=" notification.status ? 'success' : 'warn'"/>
				</td>

				<td class="big-cell">
					{{ notification.title }}
				</td>

				<td class="big-cell">
					{{ notification.description }}
				</td>

				<td class="big-cell">
					{{ notification.createdAt | date:'dd-MM-YYYY | HH:mm:ss' }}
				</td>

				<td>
					<p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
										(click)="showDialogUpdateNotification(notification)"/>
					<p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
										(click)="showDialogDeleteNotification(notification)"/>
				</td>
			</tr>
		</ng-template>
	</p-table>

	<p-dialog [(visible)]="notificationDialog" [style]="{ width: '450px' }" header="Add notification" [modal]="true">
		<ng-template #content>
			<form [formGroup]="formGroupCreateNotification">
				<div class="flex flex-col form-create-notification">
					<div>
						<label for="name" class="block font-bold mb-3">
							Name
						</label>
						<input type="text" pInputText id="name" placeholder="Gym" formControlName="name" required autofocus fluid/>
						<div
							*ngIf="formGroupCreateNotification.controls.name.invalid"
							class="error-message">
							<small class="text-red-500"
										 *ngIf="!formGroupCreateNotification.controls.name.value && formGroupCreateNotification.controls.name.touched">
								Name is required
							</small>
							<small class="text-red-500"
										 *ngIf="formGroupCreateNotification.controls.name.errors['minlength'] && formGroupCreateNotification.controls.name.touched">
								Name must be at least {{ formGroupCreateNotification.controls.name.errors['minlength'].requiredLength }}
								characters
							</small>
							<small class="text-red-500" *ngIf="formGroupCreateNotification.controls.name.errors['maxlength']">
								Name must be at most {{ formGroupCreateNotification.controls.name.errors['maxlength'].requiredLength }}
								characters
							</small>
						</div>
					</div>

					<div>
						<label for="cron" class="block font-bold mb-3">
							Cron
						</label>
						<input type="text" pInputText id="cron" placeholder="30 2 * * 1-5" formControlName="cron" required autofocus
									 fluid/>
						<div
							*ngIf="formGroupCreateNotification.controls.cron.invalid"
							class="error-message">
							<small class="text-red-500"
										 *ngIf="!formGroupCreateNotification.controls.cron.value && formGroupCreateNotification.controls.cron.touched">
								Cron is required
							</small>
							<small class="text-red-500" *ngIf="formGroupCreateNotification.controls.cron.errors['maxlength']">
								Cron must be at most {{ formGroupCreateNotification.controls.cron.errors['maxlength'].requiredLength }}
								characters
							</small>
							<small class="text-red-500"
										 *ngIf="formGroupCreateNotification.controls.cron.errors['cronFormatInvalidLength']">
								Cron format must have 5 or 6 parts
							</small>
							<small class="text-red-500"
										 *ngIf="formGroupCreateNotification.controls.cron.errors['cronFormatInvalidContainsLetters']">
								Cron format can only contain numbers and special characters
							</small>
						</div>
					</div>

					<div *ngIf="formGroupCreateNotification.controls.id.value">
						<label for="status" class="block font-bold mb-3">
							Status
						</label>
						<p-select
							[options]="status"
							formControlName="status"
							inputId="status"
							optionLabel="label"
							placeholder="Select a Status"
							fluid
							id="status"
						/>
					</div>

					<div>
						<label for="title" class="block font-bold mb-3">
							Notification title
						</label>
						<input type="text" pInputText id="title" placeholder="Go to the gym" formControlName="title" required
									 autofocus fluid/>
						<div
							*ngIf="formGroupCreateNotification.controls.title.invalid"
							class="error-message">
							<small class="text-red-500"
										 *ngIf="!formGroupCreateNotification.controls.title.value && formGroupCreateNotification.controls.title.touched">
								Title is required
							</small>
							<small class="text-red-500"
										 *ngIf="formGroupCreateNotification.controls.title.errors['minlength'] && formGroupCreateNotification.controls.title.touched">
								Title must be at
								least {{ formGroupCreateNotification.controls.title.errors['minlength'].requiredLength }}
								characters
							</small>
							<small class="text-red-500" *ngIf="formGroupCreateNotification.controls.title.errors['maxlength']">
								Title must be at
								most {{ formGroupCreateNotification.controls.title.errors['maxlength'].requiredLength }}
								characters
							</small>
						</div>
					</div>

					<div>
						<label for="description" class="block font-bold mb-3">
							Notification description
						</label>
						<input type="text" pInputText id="description" placeholder="It's time to go to the gym 🏋️"
									 formControlName="description" required autofocus fluid/>
						<div
							*ngIf="formGroupCreateNotification.controls.description.invalid"
							class="error-message">
							<small class="text-red-500"
										 *ngIf="!formGroupCreateNotification.controls.description.value && formGroupCreateNotification.controls.description.touched">
								Description is required
							</small>
							<small class="text-red-500"
										 *ngIf="formGroupCreateNotification.controls.description.errors['minlength'] && formGroupCreateNotification.controls.description.touched">
								Description must be at
								least {{ formGroupCreateNotification.controls.description.errors['minlength'].requiredLength }}
								characters
							</small>
							<small class="text-red-500" *ngIf="formGroupCreateNotification.controls.description.errors['maxlength']">
								Description must be at
								most {{ formGroupCreateNotification.controls.description.errors['maxlength'].requiredLength }}
								characters
							</small>
						</div>
					</div>
				</div>
			</form>
		</ng-template>

		<ng-template #footer>
			<p-button label="Cancel" icon="pi pi-times" text (click)="hideDialogCreateNotification()"/>
			<p-button label="Save" [disabled]="formGroupCreateNotification.invalid" icon="pi pi-check"
								(click)="createNotification()"/>
		</ng-template>
	</p-dialog>

	<p-confirmDialog [style]="{ width: '450px' }"/>
</div>
