<div class="center">
	<form (ngSubmit)="buttonSubmitForm$.next()" [formGroup]="formSignUp">
		<div pFocusTrap class="w-full sm:w-80 flex flex-col">
			<div class="auth-form">
				<!--Email-->
				<div>
					<p-floatlabel>
						<input id="username" pInputText formControlName="email" [pAutoFocus]="true"/>
						<label for="username">Email</label>
					</p-floatlabel>

					<div class="error-message">
						<small class="text-red-500" *ngIf="formSignUp.hasError('authError')">
							{{formSignUp.getError('authError')}}
						</small>
					</div>
				</div>

				<!--Password-->
				<div>
					<p-floatlabel>
						<input id="password" pInputText type="password" formControlName="password"/>
						<label for="password">Password</label>
					</p-floatlabel>

					<div class="error-message">
						<small class="text-red-500" *ngIf="formSignUp.hasError('passwordMismatch')">
							{{formSignUp.getError('passwordMismatch')}}
						</small>
					</div>
				</div>

				<!--Confirm password-->
				<div>
					<p-floatlabel>
						<input id="confirm-password" pInputText type="password" formControlName="confirmPassword"/>
						<label for="confirm-password">Confirm Password</label>
					</p-floatlabel>
					<div class="error-message">
						<small class="text-red-500" *ngIf="formSignUp.hasError('passwordMismatch')">
							{{formSignUp.getError('passwordMismatch')}}
						</small>
					</div>
				</div>
			</div>
		</div>


		<!-- Go to sign in-->
		<div class="mt-4">
			<p class="text-center">
					<span routerLink="/auth/sign-in" class="cursor-pointer text-gray-500">
						Already have an account ?
					</span>
		</div>


		<div class="mt-4">
			<p-button [disabled]="formSignUp.invalid" type="submit" label="Submit" styleClass="w-full"/>
		</div>
	</form>
</div>
