.big-cell {
	min-width: 12rem;
}

.small-cell {
	min-width: 8rem;
}

.error-message {
	display: flex;
	flex-direction: column;
}

.form-create-notification {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
