<div class="center">
	<form (ngSubmit)="buttonSubmitForm$.next()" [formGroup]="formSignIn">
		<div pFocusTrap class="w-full sm:w-80 flex flex-col">
			<div class="auth-form">
				<!--Email-->
				<div>
					<p-floatlabel>
						<input id="username" pInputText formControlName="email" [pAutoFocus]="true"/>
						<label for="username">Email</label>
					</p-floatlabel>

					<div *ngIf="formSignIn.hasError" class="error-message">
						<small *ngIf="formSignIn.hasError('authError')" class="text-red-500">
							{{formSignIn.getError('authError')}}
						</small>
					</div>
				</div>

				<!--Password-->
				<p-floatlabel>
					<input id="password" pInputText type="password" formControlName="password"/>
					<label for="password">Password</label>
				</p-floatlabel>
			</div>

			<!-- Go to sign up-->
			<div class="mt-4">
				<p class="text-center">
					<span routerLink="/auth/sign-up" class="cursor-pointer text-gray-500">Don't have an account?</span>
			</div>


			<div class="mt-4">
				<p-button [disabled]="formSignIn.invalid" type="submit" label="Submit" styleClass="w-full"/>
			</div>
		</div>
	</form>
</div>
